* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100rem;
  margin: 0 auto;
  font-family: 'Lora', serif;
  color: #182e6e;
  background-color: #f5f5f5;
}

#root {
  padding: 5rem;
}

/************/

.counter {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.counter__button {
  padding: 5px 10px;
  background-color: #354e96;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter__input {
  width: 3rem;
  padding: 0 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: #182e6e;
  border-radius: 5px;
  border: 2px solid #354e96;
}
/*********************/
.cart-content {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.book,
.total {
  width: 55rem;
  height: 8rem;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.6rem;
  color: #182e6e;
  border: 1px solid #8f9dc5;
  border-radius: 6px;
}

.total {
  color: #134e4a;
  border: 1px solid #0d9488;
}

.book__title {
  width: 30rem;
  font-size: 1.8rem;
}

.book__price {
  font-weight: 600;
  width: 4rem;
}

.total__text {
  margin-right: 5rem;
  display: flex;
  gap: 6rem;
  font-weight: 600;
  font-size: 18px;
}

.delete {
  padding: 5px 10px;
  background-color: #fa5252;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/***********************/

.login-password {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-content {
  width: 40rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.label {
  width: 6.5rem;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  color: #182e6e;
}

.input {
  padding: 3px 8px;
  color: inherit;
  border-radius: 12px;
  border: 1px solid #182e6e;
  outline: none;
}

.input::placeholder {
  font-family: 'Lora', serif;
  color: #8f9dc5;
  font-size: 1.2rem;
}

.alert {
  color: #e11d48;
}

/***********************/

.numbers-title {
  margin-top: 2rem;
}

.numbers-container {
  max-width: fit-content;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.number {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38d9a9;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 600;
}
