.main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

h1 {
  margin: 0;
}

p > a {
  border-bottom: 1px solid currentColor;
}
